{% extends 'base.html' %} {% block first_col %} {{super()}}
<h3>Input expense</h3>
<form action="{{url_for('exp_parse')}}" method="post" name="form">
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Type</label>
    <select class="form-select" id="inputGroupSelect01" name="type">
      {% for cat in categories %}
      <option value="{{cat.id}}">{{cat.cat_name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Amount</span>
    <input
      type="number"
      class="form-control"
      aria-label="Dollar amount (with dot and two decimal places)"
      name="amount"
      min="0"
      max="1000000000"
      required
    />
    <span class="input-group-text">$</span>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Date</span>
    <input type="date" class="form-control" name="date" required />
  </div>
  <div class="input-group mb-3">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        name="delcheck"
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Delete the entered record
      </label>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Write" />
  <input type="reset" class="btn btn-secondary" value="Reset from" />
</form>
{% endblock %} {% block second_col %} {{super()}}
<h3>Latest expenses</h3>
<div class="scroll-table mb-3">
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Sum</th>
        <th>Date</th>
      </tr>
    </thead>
  </table>
  <div class="scroll-table-body">
    <table>
      <tbody>
        {% for rec in records %}
        <tr>
          <td>{{rec.cat_name}}</td>
          <td>{{rec.amount}}</td>
          <td>{{rec.rec_date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %} {% block cat_form %}
<form action="{{url_for('exp_category')}}" method="post" name="form">
  <div class="input-group mb-3">
    <span class="input-group-text">New category</span>
    <input
      type="text"
      id="cat_name"
      name="cat_name"
      class="form-control"
      required
      minlength="3"
      maxlength="50"
      placeholder="category name"
    />
  </div>
  <div class="input-group mb-3">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        name="delcheck"
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Delete the entered category
      </label>
    </div>
  </div>
  <input
    type="submit"
    class="btn btn-primary"
    value="Write"
    name="submit"
    id="submit"
  />
  <input type="reset" class="btn btn-secondary" value="Reset form" />
</form>
{% endblock %} {% block button %}
<button class="btn btn-primary mb-3" id="show_button">analysis</button>
{% endblock %} {% block graph %}
<canvas class="option" id="myChart" width="400" height="200"></canvas>
<div class="option lead">The latest value is predicted</div>
<script type="text/javascript">
  async function getData() {
    const xs = [];
    const ys = [];
    const response = await fetch("/expense_analysis");
    const data = await response.text();
    const previous = data.split(/\n/).slice(1);
    const table = previous.slice(0, -1);
    table.forEach((row) => {
      const columns = row.split(",");
      const year = columns[1];
      xs.push(year);
      const amount = columns[0];
      ys.push(parseFloat(amount));
    });
    return { xs, ys };
  }
</script>
{% endblock %}
